<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
</head>
<body>
	<header>
		{% if siteUrl %}
			{% newCount collections.items, title, title | slug %}
			<h1 id="{{ title | slug }}"><a href="{{ siteUrl }}">{{ title }}</a></h1>
		{% else %}
			<h1>{{ title }}</h1>
		{% endif %}
	</header>
	<main>
	{{ content | safe }}
	</main>
</body>
</html>