---
pagination:
  data: feeds
  size: 1
  alias: categories
permalink: "/category/{{ categories.category | slug }}/"
layout: base.njk
eleventyComputed:
  title: "{{ categories.category }}"
---

<ul>
  {% for feed in categories.items %}
      {% include "sourceCard.njk" %}
  {% endfor %}
</ul>