---js
{
  pagination: {
    data: "feeds",
    size: 1,
    alias: "item",
    addAllPagesToCollections: true,
    before: function(data) {
      const feedItems = [];

      for (const category of data) {
        for (const source of category.items) {
          for (const item of source.items) {
            feedItems.push(item);
          }
        }
      }

      return feedItems;
    }
  },
  layout: "base.njk",
  tags: "items",
  permalink: "/{{ item.feedTitle | slug }}/{{ item.title | slug }}/",
  eleventyComputed: {
    title: "{{ item.title }}",
    new: "{{ item.new }}",
    source: "{{ item.feedTitle }}",
    itemDate: "{{ item.date }}",
    link: "{{ item.link }}",
    siteUrl: "{{ item.siteUrl }}"
  }
}
---
<strong>{{ item.date | postDate }}</strong>

{{ item.content | safe }}