---js
{
  pagination: {
    data: "feeds",
    size: 1,
    alias: "sources",
    before: function(data) {
      const sourceItems = [];

      for (const category of data) {
        for (const source of category.items) {
          sourceItems.push(source);
        }
      }

      return sourceItems;
    }
  },
  layout: "base.njk",
  permalink: "/{{ sources.feedTitle | slug }}/",
  eleventyComputed: {
    title: "{{ sources.feedTitle }}",
    siteUrl: "{{ sources.siteUrl }}",
    category: "{{ sources.category }}"
  }
}
---
<ul class="grid">
  {% for item in sources.items %}
    <li class="card card-excerpt background-light">
      {% include "postDate.njk" %}
      <h2><a href="/{{ item.feedTitle | slug }}/{{ item.title | slug }}/">{{ item.title }}</a></h2>
      <p>{{ item.excerpt | safe }}</p>
      <footer class="background-primary">
        <a href="{{ item.link }}">View <span class="inclusively-hidden">{{ item.title }}</span> on {{ item.siteUrl | domain }}</a>
      </footer>
    </li>
  {% endfor %}
</ul>