---js
{
  pagination: {
    data: "feeds",
    size: 1,
    alias: "sources",
    before: function(data) {
      const sourceItems = [];

      for (const category of data) {
        for (const source of category.items) {
          sourceItems.push(source);
        }
      }

      return sourceItems;
    }
  },
  layout: "base.njk",
  permalink: "/{{ sources.feedTitle | slug }}/",
  eleventyComputed: {
    title: "{{ sources.feedTitle }}",
    siteUrl: "{{ sources.siteUrl }}"
  }
}
---
<ul>
  {% for item in sources.items %}
    <li>
      {% include "postDate.njk" %}
      <h2><a href="/{{ item.feedTitle | slug }}/{{ item.title | slug }}/">{{ item.title }}</a></h2>
      <p>{{ item.excerpt }}</p>
      <footer>
        <a href="{{ item.link }}">View <span class="inclusively-hidden">{{ item.title }}</span> on {{ item.siteUrl | domain }}</a>
      </footer>

    </li>
  {% endfor %}
</ul>